__pycache__/bot.cpython-311.pyc
__pycache__/responses.cpython-311.pyc
funcionalities/Tweets/barackobama2023-03-27.csv
funcionalities/Tweets/bbcworld2023-03-27.csv
funcionalities/Tweets/Carelele_2023-03-27.csv
funcionalities/Tweets/counterstrike2023-03-27.csv
funcionalities/Tweets/donhaci2023-03-27.csv
funcionalities/Tweets/foxnews2023-03-27.csv
funcionalities/Tweets/J4ckY_CSGO2023-03-27.csv
funcionalities/Tweets/joebiden2023-03-27.csv
funcionalities/Tweets/ogdanil2023-03-27.csv
funcionalities/Tweets/raulgamez_32023-03-27.csv
funcionalities/Tweets/twitter2023-03-27.csv
funcionalities/Tweets/valorantes2023-03-27.csv
funcionalities/Tweets/xwyzax2023-03-27.csv
funcionalities/Tweets/zok3r2023-03-27.csv
funcionalities/WordCloud/Carelele_2023-03-27.png
funcionalities/WordCloud/j4cky_csgo2023-03-27.png
funcionalities/WordCloud/joebiden2023-03-27.png
funcionalities/WordCloud/ogdanil2023-03-27.png
funcionalities/WordCloud/raulgamez_32023-03-27.png
funcionalities/WordCloud/xwyzax2023-03-27.png
funcionalities/WordCloud/zok3r2023-03-27.png
funcionalities/GraficoSAVersus/bbcworld-foxnews2023-03-27.png
funcionalities/GraficoSAVersus/counterstrike-valorantes2023-03-27.png
funcionalities/GraficoSAVersus/donhaci-counterstrike2023-03-27.png
funcionalities/GraficoSAVersus/joebiden-barackobama2023-03-27.png
funcionalities/GraficoSAPorDia/avatar2023-03-27.png
funcionalities/GraficoSAPorDia/bbcworld2023-03-27.png
funcionalities/GraficoSAPorDia/bee2023-03-27.png
funcionalities/GraficoSAPorDia/counterstrike2023-03-27.png
funcionalities/GraficoSAPorDia/home2023-03-27.png
funcionalities/GraficoSAPorDia/JoeBiden2023-03-27.png
funcionalities/GraficoSAPorDia/jurassic2023-03-27.png
funcionalities/GraficoSAPorDia/playvalorant2023-03-27.png
funcionalities/GraficoSAPorDia/shrek2023-03-27.png
funcionalities/GraficoSAPorDia/titanic2023-03-27.png
funcionalities/GraficoSAPorDia/JoeBiden2023-03-27.png
funcionalities/GraficoSAPorDia/JoeBiden2023-03-27.png
funcionalities/GraficoSAPorTweet/bbcworld2023-03-27.png
funcionalities/GraficoSAPorTweet/counterstrike2023-03-27.png
funcionalities/GraficoSAPorTweet/JoeBiden2023-03-27.png
funcionalities/GraficoSAPorTweet/playvalorant2023-03-27.png
funcionalities/Maps/avatar2023-03-27.png
funcionalities/Maps/bee2023-03-27.png
funcionalities/Maps/home2023-03-27.png
funcionalities/Maps/jurassic2023-03-27.png
funcionalities/Maps/shrek2023-03-27.png
funcionalities/Maps/titanic2023-03-27.png
.gitignore
funcionalities/SA/bbcworld2023-03-27.csv
funcionalities/SA/counterstrike2023-03-27.csv
funcionalities/SA/JoeBiden2023-03-27.csv
funcionalities/SA/playvalorant2023-03-27.csv
funcionalities/Tweets/avatar2023-03-27.csv
funcionalities/Tweets/bbc2023-03-27.csv
funcionalities/Tweets/bee2023-03-27.csv
funcionalities/Tweets/chicken2023-03-27.csv
funcionalities/Tweets/hobbit2023-03-27.csv
funcionalities/Tweets/home2023-03-27.csv
funcionalities/Tweets/jurassic2023-03-27.csv
funcionalities/Tweets/los2023-03-27.csv
funcionalities/Tweets/playvalorant2023-03-27.csv
funcionalities/Tweets/shrek2023-03-27.csv
funcionalities/Tweets/titanic2023-03-27.csv
funcionalities/WordCloud/avatar2023-03-27.png
funcionalities/WordCloud/bbc2023-03-27.png
funcionalities/WordCloud/bbcworld2023-03-27.png
funcionalities/WordCloud/bee movie2023-03-27.png
funcionalities/WordCloud/bee2023-03-27.png
funcionalities/WordCloud/counterstrike2023-03-27.png
funcionalities/WordCloud/home2023-03-27.png
funcionalities/WordCloud/jurassic2023-03-27.png
funcionalities/WordCloud/playvalorant2023-03-27.png
funcionalities/WordCloud/shrek2023-03-27.png
funcionalities/WordCloud/titanic2023-03-27.png
