__pycache__/bot.cpython-311.pyc
__pycache__/responses.cpython-311.pyc
funcionalities/Tweets/barackobama2023-03-27.csv
funcionalities/Tweets/bbcworld2023-03-27.csv
funcionalities/Tweets/Carelele_2023-03-27.csv
funcionalities/Tweets/counterstrike2023-03-27.csv
funcionalities/Tweets/donhaci2023-03-27.csv
funcionalities/Tweets/foxnews2023-03-27.csv
funcionalities/Tweets/J4ckY_CSGO2023-03-27.csv
funcionalities/Tweets/joebiden2023-03-27.csv
funcionalities/Tweets/ogdanil2023-03-27.csv
funcionalities/Tweets/raulgamez_32023-03-27.csv
funcionalities/Tweets/twitter2023-03-27.csv
funcionalities/Tweets/valorantes2023-03-27.csv
funcionalities/Tweets/xwyzax2023-03-27.csv
funcionalities/Tweets/zok3r2023-03-27.csv
funcionalities/WordCloud/Carelele_2023-03-27.png
funcionalities/WordCloud/j4cky_csgo2023-03-27.png
funcionalities/WordCloud/joebiden2023-03-27.png
funcionalities/WordCloud/ogdanil2023-03-27.png
funcionalities/WordCloud/raulgamez_32023-03-27.png
funcionalities/WordCloud/xwyzax2023-03-27.png
funcionalities/WordCloud/zok3r2023-03-27.png
funcionalities/GraficoSAVersus/bbcworld-foxnews2023-03-27.png
funcionalities/GraficoSAVersus/counterstrike-valorantes2023-03-27.png
funcionalities/GraficoSAVersus/donhaci-counterstrike2023-03-27.png
funcionalities/GraficoSAVersus/joebiden-barackobama2023-03-27.png
